.filters {
  table {
    td {
      padding: 15px;
      border-bottom: 4px solid #ddd;
    }
  }
} 
.info{
  bottom: 0.3rem;
    position:relative;
    left: -2rem;
    font-size: 14px !important;
    
    color: grey;
}

