.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

p {
  font-size: 200%;
}

button {
    margin-top: 20px;
}

#status {
  color: green;
  font-size: 200%;
}
